.container h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}
form label {
    font-weight: bold;
    color: #333;
}
form input, form button {
    font-size: 14px;
}
.profile-pic {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
