/* Ajustes para a barra de navegação */
.navbar {
    background-color: #007bff; /* Azul personalizado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.navbar-brand {
    color: #fff !important; /* Deixa o texto da logo branco */
}

.navbar-brand:hover {
    color: #f0f0f0 !important; /* Texto branco ao passar o mouse */
}

/* Dropdown do perfil */
.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Imagem do perfil */
.profile-pic {
    border: 2px solid #fff; /* Borda branca ao redor da foto */
}
