body {
    background-color: #f8f9fa; /* Fundo branco */
    color: #333; /* Texto escuro */
    font-family: Arial, sans-serif;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.register-form {
    background-color: #fff; /* Fundo do formulário branco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.register-form h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #007bff;
}
.register-form input {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.register-form input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}
.register-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}
.register-form button:hover {
    background-color: #0056b3;
}
.register-form p {
    margin-top: 10px;
    color: #555;
}
.register-form a {
    color: #007bff;
    text-decoration: none;
}
.register-form a:hover {
    text-decoration: underline;
}